In [9]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [10]:
df = pd.read_csv('../data/processed/Dataset_ATS_v2_cleaned_encoded.csv')
df

,customer_id,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,MonthlyCharges,Churn,gender_Female,gender_Male,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year
0,1,0,0,1,0,0,25,1,1,0,1,0,1,0,0
1,2,0,0,41,1,0,25,0,0,1,1,0,0,1,0
2,3,0,1,52,1,0,19,0,1,0,1,0,1,0,0
3,4,0,0,1,1,0,76,1,1,0,1,0,0,1,0
4,5,0,0,67,1,0,51,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7039,0,0,1,1,1,95,1,0,1,1,0,0,1,0
7039,7040,0,1,23,1,1,91,0,1,0,0,1,0,1,0
7040,7041,0,1,12,1,0,21,0,0,1,1,0,1,0,0
7041,7042,1,0,12,1,1,99,1,0,1,0,1,1,0,0
7042,7043,0,0,26,1,0,20,0,0,1,0,1,0,0,1

In [11]:
scale_cols = ['MonthlyCharges', 'tenure']
scaler = MinMaxScaler()
df[scale_cols] = scaler.fit_transform(df[scale_cols])
df

,customer_id,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,MonthlyCharges,Churn,gender_Female,gender_Male,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year
0,1,0,0,0.013889,0,0,0.069307,1,1,0,1,0,1,0,0
1,2,0,0,0.569444,1,0,0.069307,0,0,1,1,0,0,1,0
2,3,0,1,0.722222,1,0,0.009901,0,1,0,1,0,1,0,0
3,4,0,0,0.013889,1,0,0.574257,1,1,0,1,0,0,1,0
4,5,0,0,0.930556,1,0,0.326733,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7039,0,0,0.013889,1,1,0.762376,1,0,1,1,0,0,1,0
7039,7040,0,1,0.319444,1,1,0.722772,0,1,0,0,1,0,1,0
7040,7041,0,1,0.166667,1,0,0.029703,0,0,1,1,0,1,0,0
7041,7042,1,0,0.166667,1,1,0.801980,1,0,1,0,1,1,0,0
7042,7043,0,0,0.361111,1,0,0.019802,0,0,1,0,1,0,0,1

In [12]:
df.to_csv('../data/processed/Dataset_ATS_v2_processed.csv')